In [17]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv('RFMiD_Training_Labels.csv')

In [18]:
data.head()

,ID,Disease_Risk,DR,ARMD,MH,DN,MYA,BRVO,TSLN,ERM,...,CME,PTCR,CF,VH,MCA,VS,BRAO,PLQ,HPED,CL
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
num_rows, num_cols = data.shape

print(f"The number of rows is: {num_rows}")
print(f"The number of columns is: {num_cols}")

The number of rows is: 1920
The number of columns is: 47

In [20]:
disease_risk_counts = data['Disease_Risk'].value_counts()

In [21]:
if 1 in disease_risk_counts:
    print(f"Number of '1's : {disease_risk_counts[1]}")
else:
    print("Number of '1's : 0")

if 0 in disease_risk_counts:
    print(f"Number of '0's : {disease_risk_counts[0]}")
else:
    print("Number of '0's : 0")

Number of '1's : 1519
Number of '0's : 401

In [22]:
#Iterate through each column and count occurences of '1' and '0'
for column in data.columns:
    if data[column].dtype == 'int64' or data[column].dtype == 'float64':  
        value_counts = data[column].value_counts()
        ones = value_counts.get(1, 0)  
        zeros = value_counts.get(0, 0)  
        
        print(f"Column '{column}':")
        print(f"Number of '1's: {ones}")
        print(f"Number of '0's: {zeros}")
        print("-----------")

Column 'ID':
Number of '1's: 1
Number of '0's: 0
-----------
Column 'Disease_Risk':
Number of '1's: 1519
Number of '0's: 401
-----------
Column 'DR':
Number of '1's: 376
Number of '0's: 1544
-----------
Column 'ARMD':
Number of '1's: 100
Number of '0's: 1820
-----------
Column 'MH':
Number of '1's: 317
Number of '0's: 1603
-----------
Column 'DN':
Number of '1's: 138
Number of '0's: 1782
-----------
Column 'MYA':
Number of '1's: 101
Number of '0's: 1819
-----------
Column 'BRVO':
Number of '1's: 73
Number of '0's: 1847
-----------
Column 'TSLN':
Number of '1's: 186
Number of '0's: 1734
-----------
Column 'ERM':
Number of '1's: 14
Number of '0's: 1906
-----------
Column 'LS':
Number of '1's: 47
Number of '0's: 1873
-----------
Column 'MS':
Number of '1's: 15
Number of '0's: 1905
-----------
Column 'CSR':
Number of '1's: 37
Number of '0's: 1883
-----------
Column 'ODC':
Number of '1's: 282
Number of '0's: 1638
-----------
Column 'CRVO':
Number of '1's: 28
Number of '0's: 1892
-----------
Column 'TV':
Number of '1's: 6
Number of '0's: 1914
-----------
Column 'AH':
Number of '1's: 16
Number of '0's: 1904
-----------
Column 'ODP':
Number of '1's: 65
Number of '0's: 1855
-----------
Column 'ODE':
Number of '1's: 58
Number of '0's: 1862
-----------
Column 'ST':
Number of '1's: 5
Number of '0's: 1915
-----------
Column 'AION':
Number of '1's: 17
Number of '0's: 1903
-----------
Column 'PT':
Number of '1's: 11
Number of '0's: 1909
-----------
Column 'RT':
Number of '1's: 14
Number of '0's: 1906
-----------
Column 'RS':
Number of '1's: 43
Number of '0's: 1877
-----------
Column 'CRS':
Number of '1's: 32
Number of '0's: 1888
-----------
Column 'EDN':
Number of '1's: 15
Number of '0's: 1905
-----------
Column 'RPEC':
Number of '1's: 22
Number of '0's: 1898
-----------
Column 'MHL':
Number of '1's: 11
Number of '0's: 1909
-----------
Column 'RP':
Number of '1's: 6
Number of '0's: 1914
-----------
Column 'CWS':
Number of '1's: 3
Number of '0's: 1917
-----------
Column 'CB':
Number of '1's: 1
Number of '0's: 1919
-----------
Column 'ODPM':
Number of '1's: 0
Number of '0's: 1920
-----------
Column 'PRH':
Number of '1's: 2
Number of '0's: 1918
-----------
Column 'MNF':
Number of '1's: 3
Number of '0's: 1917
-----------
Column 'HR':
Number of '1's: 0
Number of '0's: 1920
-----------
Column 'CRAO':
Number of '1's: 2
Number of '0's: 1918
-----------
Column 'TD':
Number of '1's: 3
Number of '0's: 1917
-----------
Column 'CME':
Number of '1's: 4
Number of '0's: 1916
-----------
Column 'PTCR':
Number of '1's: 5
Number of '0's: 1915
-----------
Column 'CF':
Number of '1's: 3
Number of '0's: 1917
-----------
Column 'VH':
Number of '1's: 1
Number of '0's: 1919
-----------
Column 'MCA':
Number of '1's: 1
Number of '0's: 1919
-----------
Column 'VS':
Number of '1's: 1
Number of '0's: 1919
-----------
Column 'BRAO':
Number of '1's: 2
Number of '0's: 1918
-----------
Column 'PLQ':
Number of '1's: 1
Number of '0's: 1919
-----------
Column 'HPED':
Number of '1's: 1
Number of '0's: 1919
-----------
Column 'CL':
Number of '1's: 1
Number of '0's: 1919
-----------

In [24]:
#count occurrences of. '1' and '0' per row 
data['Ones_Count'] = (data == 1).sum(axis=1)
data['Zeros_Count'] = (data == 0).sum(axis=1)
row_counts = data[['Ones_Count', 'Zeros_Count']]
print(row_counts)

      Ones_Count  Zeros_Count
0              3           44
1              2           44
2              2           44
3              3           43
4              3           43
...          ...          ...
1915           2           44
1916           3           43
1917           0           47
1918           0           47
1919           0           47

[1920 rows x 2 columns]